html{
    height: 100%;
}

body{
    width: auto;
    margin: 0;
    background: rgb(127,90,176);
    background: linear-gradient(0deg, rgba(127,90,176,1) 0%, rgba(141,119,152,1));
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

nav{
    background-color: #958499;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 12px 12px 0px rgba(0,0,0,0.23);
}

.nonestyle{
    background: none;
    border: none;
    color: black;
    box-shadow: none;
}

.dropdown ul{
    position: absolute;
    right: 0px;
    background-color: #8d7798;
    width: 200px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    opacity: 0;
    pointer-events: auto;
    transform: translateY(-10px);
    transition: all 0.4s ease;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.19);
    z-index: 1;
}

.dropdown a{
    display: block;
    text-decoration: none;
    padding: 10px 60px;
    width: 60px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dropdown :focus + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

.k{
    color: black;
    border: 1px solid black;
    border-radius: 20px;
}

.kontaktknap{
    background-color: #5B37EE;
    font-weight: 600;
    text-align: center;
    color: white;
    border: 1px solid #5B37EE;
    border-radius: 20px;
}


.headerimg{ 
    z-index: -1;
    position: relative;
    background-color: #303030;
}

h1{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 28px;
    padding-left: 5px;
}

h2{
    color: white;
    font-style: italic;
    font-weight: 200;
    padding: 5px
}

h3{
    color: white;
    font-weight: 500;
    padding: 5px;   
}

p{
    padding: 10px;
    letter-spacing: 1px;
}

.headertxt{
    position: absolute;
    top: 55%;
    padding: 5px;
}

.header2txt{
    position: absolute;
    top: 60%;
    padding: 5px;
}

.slogan{
    position: absolute;
    top: 80%;
    padding: 5px;
    color: #D6CCFF;
}

.ommigcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "txt img";
}

.knapogtxt{
    grid-area: txt;
}
.hueimg{
    width: 90%;
    margin-left: auto;
    padding: 5px;
    filter: grayscale(100%);
    grid-area: img;
}
.hueimg:hover{
    filter: grayscale(0%);
    transition: 1s ease-in;
}

.knapogtxt p{
    padding: 5px;
    margin: 10px;   
}

.linkknapper{
    background-color: #5B37EE;
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    border: none;
    padding: 8px;
    margin: 5px;
    font-size: medium;
    box-shadow: 11px 9px 7px 0px rgba(0,0,0,0.15);
    text-decoration: none;
    color: white;
}
.stjernerport{
    height: 1em;
}

.moon{
    height: 1em;
}

.portfoliocontainerindex{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "box1"
    "box2"
    ;
}
.box1{
    grid-area: box1;
    width: 30rem;
    height: 20rem;
    border: none;
    background-color: #D6CCFF;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
}

.selvportraet{
    width: 20rem;
    padding: 5px;
    filter: grayscale(100%);
}

.box2{
    grid-area: box2;
    width: 30rem;
    height: 20rem;
    border: none;
    background-color: #D6CCFF;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hyggehue{
    width: 20rem; 
    padding: 5px;
    filter: grayscale(100%);
}

.hyggehue:hover{
    filter: grayscale(0%);
    transition: 1s ease-in;
}


footer{
    background-color: #958499;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: auto;
}

.linkedin{
    color: #5B37EE;
}

.list{
    color: white;
    list-style-type: none;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    padding: 5px;
    line-height: 30px;
    text-align: center;
}

.star2{
    height: 1em;
}

.portfoliocontainer{
    display: grid;
    padding: 5px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.portfolioimgs{
    filter: grayscale(100%);
    width: 55vw;
}

.portfolioimgs:hover{
    filter: grayscale(0%);
    transition: 1s ease-in;
}

.ommigtattoo{
    filter: grayscale(100%);
    display: flex;
    justify-content: center;
}

.ommigtattoo:hover{
    filter: grayscale(0%);
    transition: ease-in-out 1s;
}

.ommigimg{
    display: flex;
    justify-content: center;
}

.kontaktformular{
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}

.kontaktinput{
    width: 20rem;
    height: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.kontaktinput:focus{
    background-color: #D6CCFF;
}

.besked{
    height: 10rem;
    width: 20rem;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.besked:focus{
    background-color: #D6CCFF;
}

.send{
    background-color: #5B37EE;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    border: none;
    font-size: medium;
    box-shadow: 11px 9px 7px 0px rgba(0,0,0,0.15);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
}

.kontaktikoner{
    color: white;
}

.linkedintekst{
    color: black;
    text-align: center;
}

.sendbesked{
    padding: 5px;
}

.ikonerogtekst{
    text-align: center;
}

.headerbillede{
    display: block;
}

.headerbillededesktop{
    display: none;
}

.flexindex{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hueimgphone{
    display: block;
}

.hueimgdesktop{
    display: none;
}

@media (min-width:800px) {
    .headerbillede{
        display: none;
    }
    .headerbillededesktop{
        display: block;
    }
    h1{
        font-size: 62px;
        padding-left: 15rem;
    }

    h2{
        font-size: 35px;
        padding-left: 15rem;
    }
    .headertxt{
        top: 50%;
        left: 10%;
    }
    .header2txt{
        left: 10%;
        top: 65%;
    }
    .slogan{
        top: 88%;
        left: 35%;
    }
    
    .knapogtxt{
        padding-left: 15rem;
        padding-right: 5rem;
    }

    p{
        padding-left: 15rem;
        padding-right: 15rem;
        font-size: 18px;
    }
    .hueimgphone{
        display: none;
    }

    .hueimgdesktop{
        display: block;
        width: 450px;
        padding-left: 15rem;
    }

    .linkknapper{
        font-size: 20px;
        padding: 8px;
    }

    .h2ommig{
        padding-left: 15rem;
    }
    
    
    .hyggehue{
        width: 450px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .selvportraet{
        width: 450px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .box1{
        grid-area: box1;
        width: 90rem;
        height: 15rem;
        margin-top: 50px;
        border: none;
        background-color: #D6CCFF;
        margin-left: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box2{
    grid-area: box2;
    width: 90rem;
    height: 35rem;
    border: none;
    background-color: #D6CCFF;
    margin-left: 15rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


    .ommigimg{
        padding-right: 15rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
        margin-top: 5rem;
        float: right;
    }
    .ommigtattoo{
        padding-right: 15rem;
        float: right;
        margin-top: 5rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
    }
    .list{
        text-align: left;
        line-height: 50px;
        padding-left: 15rem;
        font-size: 20px;
    }
    .portfolioimgs{
        width: 25rem;
        padding-left: 5rem;
        padding-bottom: 5rem;
    }
    
    .kontaktformular{
        font-size: 18px;
    }

    .kontaktinput{
        width: 45rem;
        height: 2rem;
    }
    .besked{
        width: 45rem;
        height: 15rem;
    }
    .send{
        font-size: 18px;
    }
    
    nav{
        background-color: #958499;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 1px 12px 12px 0px rgba(0,0,0,0.23);
    }
    
    .dropdown ul{
        margin-top: -1rem;
        position: absolute;
        right: 3rem;
        width: 0px;
        height: 0px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        list-style: none;
        opacity: 1;
        pointer-events: auto;
    }
    
    .dropdown :hover{
        background-color: rgba(46, 46, 46, 0.185);
        transition: ease-in-out 0.3s;
    }

    .dropdown a{
        display: block;
        text-decoration: none;
        padding: 10px 60px;
        width: 60px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 2rem;
    }

    .dropdown button{
        display: none;
    }
    .logo{
        padding-left: 5rem;
    }
}   