html{
    height: 100%;
}

body{
    margin: 0;
    background: rgb(127,90,176);
    background: linear-gradient(0deg, rgba(127,90,176,1) 0%, rgba(141,119,152,1));
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

nav{
    background-color: #958499;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 12px 12px 0px rgba(0,0,0,0.23);
}

.headerimg{
    background-image: url(img/headerimg1.png); 
    padding-bottom: 500px;
    margin: 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -99;
    
}

.headerimg::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.137);
}

h1{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 28px;
}

h2{
    color: white;
    font-style: italic;
    font-weight: 200;
}

.nonestyle{
    background: none;
    border: none;
    color: black;
    box-shadow: none;
}

.dropdown ul{
    margin-top: 50px;
    position: absolute;
    right: 0px;
    background-color: #8d7798;
    width: 200px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.19);
    z-index: 99;
}

.dropdown a{
    display: block;
    text-decoration: none;
    padding: 10px 60px;
    width: 60px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.k{
    color: black;
    border: 2px solid black;
    border-radius: 20px;
}

.dropdown :focus + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
    
}
.kontaktknap{
    background-color: #5B37EE;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 20px;
}
.headertxt{
    position: absolute;
    top: 45%;
    padding: 5px;
}

.header2txt{
    position: absolute;
    top: 50%;
    padding: 5px;
}

.slogan{
    position: absolute;
    display: inline;
    top: 60%;
    padding: 50px;
    text-align: center;
    color: #D6CCFF;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "txt img";

}

h3{
    color: white;
    font-weight: 500;
    padding: 5px;
    
}

.hueimg{
    width: 90%;
    margin-left: auto;
    padding: 5px;
    filter: grayscale(100%);
    grid-area: img;
}
.hueimg:hover{
    filter: grayscale(0%);
    transition: 1s ease-in;
}

p{
    padding: 5px;
    grid-area: txt;
}

button{
    background-color: #5B37EE;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    border: none;
    font-size: medium;
    box-shadow: 11px 9px 7px 0px rgba(0,0,0,0.15);
    padding: 5px;
    margin: 5px;
    
    
}

button a{
    text-decoration: none;
    color: white;
}

.port1{
    border: solid 2px;
    height: 150px;
    width: 150px;
}
